.menu {
  min-height: var(--content-height);
  background-color: var(--color-menu-background);
  color: var(--color-menu-text);

  ul {
    list-style: none;

    li {
      line-height: 1.3em;

      a {
        padding: 1px 3px;
        border-radius: 5px;
        color: var(--color-menu-text);
        text-decoration: none;

        &:hover {
          background-color: var(--color-menu-hover-background);
        }
      }
    }
  }
}
