.header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--color-header-background);
  color: var(--color-header-text);
  max-height: var(--header-height);

  &-image {
    padding-left: 1em;
  }

  &-title {
    font-size: 25pt;
    align-content: center;
  }

  &-sub-title {
    font-size: 25pt;
    align-self: center;
    color: var(--color-sub-header-text);
    font-weight: bold;
    margin: 0 auto;
  }
}

.menu-touch {
  display: none;
}

@media only screen and (max-width: 600px) {
  .header {
    &-title {
      font-size: 12pt;
      max-width: 150px;
    }

    &-sub-title {
      font-size: 12pt;
    }
  }

  .menu-touch {
    display: block;
    width: 1.5em;
  }
}
