:root {
  --color-header-background: hsl(190, 50%, 50%);
  --color-header-text: hsl(190, 10%, 100%);
  --color-sub-header-text: hsl(190, 10%, 20%);

  --color-menu-background: hsl(190, 50%, 30%);
  --color-menu-hover-background: hsl(190, 50%, 50%);
  --color-menu-text: hsl(190, 50%, 100%);

  --color-background: hsl(190, 10%, 20%);

  --color-footer-background: hsl(190, 10%, 20%);
  --color-footer-text: hsl(190, 10%, 100%);
}
